@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root {
  /* # Front-end Style Guide */

/* ## Colors */

/* ### Primary */

--blue: hsl(223, 87%, 63%);

/* ### Secondary */

--pale-blue: hsl(223, 100%, 88%);
--light-red: hsl(354, 100%, 66%);

/* ### Neutral */

--gray: hsl(0, 0%, 59%);
--very-dark-blue: hsl(209, 33%, 12%);

/* ## Typography */

--size: 20px;

/* ### Fonts */
/* - Weights: 300, 600, 700 */

--font-libre-franklin: 'Libre Franklin', sans-serif;
}

* {
  box-sizing: border-box;
}

h1, p {
  margin: 0;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  margin: 0;
  padding: 2rem;
  font-family: var(--font-libre-franklin);
}

.container {
  max-width: 650px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-bottom: 3rem;
}

.launch {
  font-weight: 300;
  font-size: 3rem;
  color: var(--gray);
}

.launch span {
  font-weight: 700;
  color: rgb(0,0,0);
}

.notify {
  font-size: var(--size);
  font-weight: 300;
  margin-top: 1.15rem
}

.form-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 2.5rem;
}

input {
  padding: 1.1rem;
  padding-left: 2rem;
  border-radius: 2rem;
  outline: 1px solid var(--pale-blue);
  border: none;
  width: 72%;
  font-size: 1rem;
  font-family: var(--font-libre-franklin);
}
.input-error {
  outline: 1px solid var(--light-red);
}
.email-error {
  color: var(--light-red);
  font-style: italic;
  font-size: 12px;
  font-weight: 600;
  margin-left: 2rem;
  margin-top: 0.5rem;
  align-self: flex-start;
}

button {
  position: relative;
  padding: 1.1rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  background: var(--blue);
  width: 200px;
  color: white;
  font-family: var(--font-libre-franklin);
  font-weight: 600;
  font-size: 1rem;
  margin-left: 1.2rem;
  box-shadow: 0px 10px 20px -2px var(--pale-blue);
  cursor: pointer;
  transition: opacity 50ms ease-in-out;
}

button:hover {
  opacity: 0.8;
}

::placeholder {
  font-family: var(--font-libre-franklin);
  font-size: 1rem;
  color: var(--pale-blue);
}

.dashboard {
  margin-top: 5.2rem;
  width: 100%;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin: 4.5rem 0 1.5rem;
}

.socials svg {
  width: .875rem;
  color: var(--blue);
}

.socials span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.875rem;
  height: 1.875rem;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 50%;
  cursor: pointer;
}
.socials span:hover svg {
  color: white;
}
.socials span:hover {
  background-color: var(--blue);
  border: none;
}

.copy {
  text-align: center;
  font-size: 13px;
  color: var(--gray);
}
.attribution {
  margin-top: 1rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


@media screen and (max-width: 585px) {
  .logo {
    width: 4.5rem;
    margin-top: 3.5rem;
  }
  .launch {
    font-size: 1.5rem;
  }
  .notify {
    font-size: 1rem;
  }
  .form-container {
    flex-direction: column;
    gap: .875rem;
  }
  input {
    width: 90%;
    margin: 0 auto;
    padding: 0.750rem;
    padding-left: 2rem;
    font-size: 0.875rem;
  }
  ::placeholder {
    font-size: 0.875rem;
  }
  .email-error {
    margin-left: 0;
    margin-top: -0.5rem;
    align-self: center;
  }
  button {
    width: 90%;
    margin: 0 auto;
    padding: 0.750rem;
    font-size: 0.75rem;
  }
  button:hover {
    opacity: 1;
  }
  button:active {
    opacity: 0.8;
  }
  .socials {
    margin-top: 6rem;
  }
  .socials span:hover svg {
    color: var(--blue);
  }
  .socials span:hover {
    background-color: white;
    border: 1px solid rgb(225, 225, 225);
  }
  .socials span:active svg {
    color: white;
  }
  .socials span:active {
    background-color: var(--blue);
    border: none;
  }

}